:root {
    --background: #F2EAE2;
    --cta: #3D8168;
    --cta-hover: #1A4032;
    --text: #6C7289;
    --heading: #1C232B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    width: 343px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #1C232B;
}

.product-img img{
    border-radius: 10px 10px 0 0;
}

article {
    display: flex;
    margin: 24px;
    flex-direction: column;
    margin: 0;
}

.big-img {
    display: none;
}

h2 {
    font-weight: 500;
    font-size: 12px;
    color: var(--text);
    text-transform: uppercase;
    margin: 24px 24px 0 24px;
    letter-spacing: 5px;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 32px;
    color: var(--heading);
    margin: 12px 24px 0 24px;
}

p {
    margin: 0;
    color: var(--text);
    font-size: 14px;
    line-height: 23px;
    margin: 16px 24px 0 24px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 24px 0 24px;
}

.price .price-new {
    color: #3D8168;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}

.price .price-old {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-decoration: line-through;
    margin: 0 0 0 19px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 24px;
}

.btn {
    border-radius: 8px;
    color: white;
    background-color: var(--cta);
    border: 0px solid var(--cta);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--cta-hover);
}

.add-to-cart {
    width: 295px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    .product-card {
        display: flex;
        width: 600px;
        height: 450px;
        background-color: white;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    article {
        display: flex;
        flex-direction: column;
    }
    
    .product-img img{
        border-radius: 10px 0 0 10px;
    }

    .big-img {
        display: block;
        border-radius: 19px 0 0 10px;
    }

    .small-img {
        display: none;
    }

    .add-to-cart {
        width: 236px;
        height: 48px;
        font-size: 14px;
        font-weight: 700;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}